- var description = 'Providing Wills and estate planning, LPAs, estate administration and advice for the elderly and vulnerable throughout Eastbourne and surrounding areas.'
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(content='text/html; charset=utf-8', http-equiv='content-type')
title Goldcrest Legal Services
meta(
    name='keywords',
    content='Goldcrest,Goldcrest Legal Services,Eastbourne,Free telephone consultation,Wills,trusts,estate planning,Lasting power of attorney,Estate administration and probate,advising the elderly and vulnerable,Hailsham,Polegate,Pevensey,Seaford,Willingdon,Bexhill'
)
meta(name='author', content='Marina Brierley')
meta(property='og:title', content='Goldcrest Legal Services')
meta(property='og:image', content='private/images/svg/sketch.svg')
meta(property='og:description', content= description)
meta(name='description', content= description)
link(rel='shortcut icon', href='private/images/svg/logo.svg')
link(rel='shortcut icon', href='private/images/icon.ico')
link(rel='stylesheet', type="text/css", href='style.css')
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-137023372-1")
script
    include js/google_analytics.js
script
    include js/script.js