extends layout.pug

block content
  section#privacy-policy
    h2 Privacy Policy
    h3 Goldcrest Legal Services Ltd is fully committed to the security and integrity of all data held. 
    p Maintaining data privacy and data protection is a priority for Goldcrest Legal Services Ltd This privacy policy sets out the legal basis on which any personal data that we collect from you, or that you provide to us, will be processed by us.
    p Please read this privacy policy carefully to understand our views and practices regarding your personal data and how we will treat it.
    p 
      | Any questions relating to data privacy or this policy should be sent by email to 
      a(href="mailto: mb@goldcrestlegal.co.uk") mb@goldcrestlegal.co.uk
      | , or by writing to Goldcrest Legal Services Ltd, 44 Willingdon Park Drive, Eastbourne, East Sussex, BN22 0BT. Alternatively you can call Mrs Marina Brierley, Legal Consultant and Director on 01323 332543
    h2 What personal Information is held
    p We may collect and process the following data from you:
    ul
      li Information you consent to provide that is required to carry out our obligations arising from any contracts entered between you and us, or potential contracts that may be in liaison between you and us.
      li
        p Information that you consent to provide by filling in forms on our website, or as part of any direct marketing or sales activities. This includes and is not limited to personal information about you such as your name, telephone contact number, geographical address/location, email address and interests.
        p Note: Clear consent information is supplied at point of collection to provide information on the use of data; and a record of the consent is taken at point of collection.