extends layout.pug

block content
  section#privacy-policy
    h2 Privacy Policy
    h4 Goldcrest Legal Services Ltd is fully committed to the security and integrity of all data held. 
    p Maintaining data privacy and data protection is a priority for Goldcrest Legal Services Ltd This privacy policy sets out the legal basis on which any personal data that we collect from you, or that you provide to us, will be processed by us.
    p Please read this privacy policy carefully to understand our views and practices regarding your personal data and how we will treat it.
    p 
      | Any questions relating to data privacy or this policy should be sent by email to 
      a(href="mailto: mb@goldcrestlegal.co.uk") mb@goldcrestlegal.co.uk
      | , or by writing to Goldcrest Legal Services Ltd, 44 Willingdon Park Drive, Eastbourne, East Sussex, BN22 0BT.
      | Alternatively you can call Mrs Marina Brierley, Legal Consultant and Director on 01323 332543

    h3 What personal Information is held
    p We may collect and process the following data from you:
    ul
      li Information you consent to provide that is required to carry out our obligations arising from any contracts entered between you and us, or potential contracts that may be in liaison between you and us.
      li
        p 
          | Information that you consent to provide by filling in forms on our website, or as part of any direct marketing or sales activities.
          | This includes and is not limited to personal information about you such as your name, telephone contact number, geographical address/location, email address and interests.
        p Note: Clear consent information is supplied at point of collection to provide information on the use of data; and a record of the consent is taken at point of collection.
      li If you contact us by telephone or in writing, we may keep a copy of your correspondence or communication.
      li 
        | Details of your visits to our website and the resources that you access 
        a (link to cookie policy)
    p
      | If you have provided us with the personal data of another person, there is a clear requirement imposed by Institute of Professional Willwriters for you to confirm that he/she consents to the processing of his/her personal data and that you have informed him/her of our identity as a Data Controller and the nature of the processing taking place.
      | Records will be retained as evidence of this consent.

    h3 How will we use the information we hold about you?
    p We use information held about you in the following ways:
    p
      strong Performance of a contract
      | - We use information held about you to carry out our obligations arising from any contracts entered into between you and us; and to notify you about changes to our services.
    p
      strong Legitimate Interests
      | - We use information held about you to provide you with information, products and/or services that you request from us or which we feel may interest you if relevant to the products or services currently being supplied as part of a contract with Goldcrest Legal Services Ltd, or in relation to a previous contract with Goldcrest Legal Services Ltd whereby you are happy to continue to receive such information;
    p
      strong Consent (Direct Marketing)
      | - We use information held about you to provide you with information on products and/or services that you request from us, or which we feel may interest you where you have consented to be contacted for such purposes.
      | Where consent has been provided, it is a recognised right of the Data Subject that this consent can also be withdrawn.
      | Should you wish to withdraw consent, please email 
      a(href="mailto: mb@goldcrestlegal.co.uk") mb@goldcrestlegal.co.uk
      | , or by writing to – Goldcrest Legal Services Ltd, 44 Willingdon Park Drive, Eastbourne, East Sussex, BN22 0BT.
      | Alternatively you can call Mrs Marina Brierley, Director and Legal Consultant on 01323 332543
    p
      strong Consent (Website)
      | - to ensure that content from our Website is presented in the most effective manner for you and your device 
      a (link to cookie policy)
      | ;
    p We will not share your data with third parties for other marketing purposes unless we have your express consent to do so.

    h3 Changes to our Privacy Policy
    p Any changes we may make to our Privacy Policy in the future will be posted to this page on our website

    h3 Your rights relating to Personal Data
    p 
      | You have the right to ask us to cease processing your personal data for marketing purposes.
      | We will seek consent (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your data to any third party for such purposes.
      | You can also exercise your right to prevent such processing by contacting us at mb@goldcrestlegal.co.uk.
    p 
      | GDPR gives you the right to access information held about you.
      | Your right of access can be exercised at any time.
      | Goldcrest Legal Services Ltd operate both a Data Subject Rights procedure and a Subject Access Rights Procedure to ensure that all rights exercised by data subjects relating to personal data are managed appropriately.
    p 
      | From time to time, our website may contain links to and from our strategic partner(s), partner network(s), strategic sponsor(s), advertiser(s) and affiliate(s).
      | If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.

    h3 Retention of your information
    p We take appropriate measures to ensure that any information collected from you is kept secure.
    p Goldcrest Legal Services Ltd operate a clear Retention policy and associated Retention Schedule to ensure personal data is kept only for so long as is necessary for the purpose for which such information is used.
    p
      | If any of your personal data changes, or if you have any questions about how we use data which relates to you, please contact us by email at 
      a(href="mailto: mb@goldcrestlegal.co.uk") mb@goldcrestlegal.co.uk
      | .
      | We normally update your personal data within seven (7) working days of any new or updated personal data being provided to us, to ensure that the personal data we hold about you is as accurate and up to date as possible.

    h3 Disclosure of your information
    p We may disclose your personal information to any member of our group, which means our subsidiaries or strategic partner(s).
    p 
      | As part of our GDPR compliance obligations, we are duty bound to check when personal data may be shared with third parties to ensure that they apply the same or greater controls in terms of data protection.
      | The use of non-disclosure agreements form part of our third-party data sharing controls.
    p We may disclose your personal information to third parties
    ul
      li in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets; or
      li if we or substantially all of our assets are acquired by a third party, in which case personal data held by it about our customers will be one of the transferred assets; or
      li if we are under a duty to disclose or share your personal data in order to comply with any legal obligation or in order to enforce or apply other agreements; or
      li to protect the rights, property or safety of Goldcrest Legal Services Ltd, our customers or others.
    p 
      | The Institute of Professional Willwriters has risk assessed where personal information may be transferred outside the EEA.
      | As part of The Institute of Professional Willwriters own due diligence they have identified that personal data held for and by The Institute of Professional Willwriters resides in the EU.
      | The Institute of Professional Willwriters will continue to monitor this for The Institute of Professional Willwriters considering any 3rd party provider changes in the future.
      | Should a requirement for data to be transferred outside of the EU in future, The Institute of Professional Willwriters will implement controls and safeguards to ensure that equal to or greater data protection measures are enforced and records retained to evidence this. 


block script
  script.
    SetupPolicy();
    setInterval(PolicyHideOnScroll, 500);