@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("style/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: LiberationSerifBold;
  font-display: swap;
  src: url("style/fonts/liberation-serif/LiberationSerif-Bold-webfont.woff");
}
@font-face {
  font-family: LiberationSerif;
  font-display: swap;
  src: url("style/fonts/liberation-serif/LiberationSerif-Regular-webfont.woff");
}
#privacy-policy, #contact, #part_of, #why_choose_us, #we_can_help_if, #about_us, #what_we_do, header, body > section:nth-of-type(1) > nav {
  max-width: 100%;
}
@media (min-width: 696px) {
  #privacy-policy, #contact, #part_of, #why_choose_us, #we_can_help_if, #about_us, #what_we_do, header, body > section:nth-of-type(1) > nav {
    margin: 16px 72px;
    max-width: 1360px;
  }
}
@media (min-width: 1490px) {
  #privacy-policy, #contact, #part_of, #why_choose_us, #we_can_help_if, #about_us, #what_we_do, header, body > section:nth-of-type(1) > nav {
    margin: 16px auto;
  }
}

aside nav a, aside, footer p a, #we_can_help_if > section > div div, #we_can_help_if > section > div, #we_can_help_if > section > section img, #what_we_do > div article, body > section:nth-of-type(1) > nav a, a.show,
a.hide {
  transition: 0.5s;
  transition-timing-function: ease-out;
}

#why_choose_us > div, #what_we_do > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#part_of *, header *, body *,
#part_of *::after,
header *::after,
body *::after,
#part_of *::before,
header *::before,
body *::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

#part_of, header {
  box-sizing: content-box;
}

#privacy-policy p, #we_can_help_if p, #about_us section p, #privacy-policy li, #we_can_help_if li, #about_us section li {
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
}
#privacy-policy p a, #we_can_help_if p a, #about_us section p a, #privacy-policy li a, #we_can_help_if li a, #about_us section li a {
  text-decoration: none;
  color: #0404d9;
}
#privacy-policy p a:active, #we_can_help_if p a:active, #about_us section p a:active, #privacy-policy p a:hover, #we_can_help_if p a:hover, #about_us section p a:hover, #privacy-policy li a:active, #we_can_help_if li a:active, #about_us section li a:active, #privacy-policy li a:hover, #we_can_help_if li a:hover, #about_us section li a:hover {
  text-decoration: underline;
}
#privacy-policy li > p, #we_can_help_if li > p, #about_us section li > p {
  padding-left: 0;
  padding-right: 0;
}

a.show,
a.hide {
  color: #2a2a2a;
  background-color: #c4c4c4;
  box-shadow: 0 0 0 2.4px #252525;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  animation-name: fade_in;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  border-radius: 4px;
  display: none;
  font-size: 0.8em;
}
@keyframes fade_in {
  0% {
    color: rgba(42, 42, 42, 0);
    background-color: rgba(196, 196, 196, 0);
    box-shadow: 0 0 0 2.4px rgba(37, 37, 37, 0);
  }
  100% {
    color: #2a2a2a;
    background-color: #c4c4c4;
    box-shadow: 0 0 0 2.4px #252525;
  }
}
a.show:hover, a.show:active,
a.hide:hover,
a.hide:active {
  box-shadow: 0 0 0 1px;
  border-radius: 8px;
  background-color: rgba(196, 196, 196, 0);
}

a.hide {
  width: 56px;
  animation-duration: 0.2s;
}

a.show {
  width: 120px;
  animation-duration: 0.5s;
}

#show_hide_5, #show_hide_4, #show_hide_3, #show_hide_2, #show_hide_1 {
  overflow: hidden;
}
@supports (color: black) {
  #show_hide_5, #show_hide_4, #show_hide_3, #show_hide_2, #show_hide_1 {
    transition: 1s;
  }
  .hidden#show_hide_5, .hidden#show_hide_4, .hidden#show_hide_3, .hidden#show_hide_2, .hidden#show_hide_1 {
    max-height: 31.2px;
  }
  .shown#show_hide_5, .shown#show_hide_4, .shown#show_hide_3, .shown#show_hide_2, .shown#show_hide_1 {
    max-height: 1000px;
  }
}
#show_hide_5 p, #show_hide_4 p, #show_hide_3 p, #show_hide_2 p, #show_hide_1 p {
  animation-duration: 0.5s;
  animation-name: jump_in;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  color: rgba(42, 42, 42, 0);
  transform: translateY(-15px) rotateX(90deg);
  transform-origin: 50% 0;
  overflow: hidden;
  filter: url("private/images/svg/defs/blur_animation.svg#blur_5");
}
#show_hide_5 p > span, #show_hide_4 p > span, #show_hide_3 p > span, #show_hide_2 p > span, #show_hide_1 p > span {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}
@keyframes jump_in {
  40% {
    filter: url("private/images/svg/defs/blur_animation.svg#blur_3");
  }
  80% {
    filter: url("private/images/svg/defs/blur_animation.svg#blur_1");
  }
  100% {
    color: #2a2a2a;
    transform: translateY(0);
    filter: none;
  }
}
#show_hide_5 a:nth-child(2).hide, #show_hide_4 a:nth-child(2).hide, #show_hide_3 a:nth-child(2).hide, #show_hide_2 a:nth-child(2).hide, #show_hide_1 a:nth-child(2).hide, #show_hide_5 p:nth-child(2), #show_hide_4 p:nth-child(2), #show_hide_3 p:nth-child(2), #show_hide_2 p:nth-child(2), #show_hide_1 p:nth-child(2) {
  animation-delay: 0.1s;
}
#show_hide_5 a:nth-child(3).hide, #show_hide_4 a:nth-child(3).hide, #show_hide_3 a:nth-child(3).hide, #show_hide_2 a:nth-child(3).hide, #show_hide_1 a:nth-child(3).hide, #show_hide_5 p:nth-child(3), #show_hide_4 p:nth-child(3), #show_hide_3 p:nth-child(3), #show_hide_2 p:nth-child(3), #show_hide_1 p:nth-child(3) {
  animation-delay: 0.225s;
}
#show_hide_5 a:nth-child(4).hide, #show_hide_4 a:nth-child(4).hide, #show_hide_3 a:nth-child(4).hide, #show_hide_2 a:nth-child(4).hide, #show_hide_1 a:nth-child(4).hide, #show_hide_5 p:nth-child(4), #show_hide_4 p:nth-child(4), #show_hide_3 p:nth-child(4), #show_hide_2 p:nth-child(4), #show_hide_1 p:nth-child(4) {
  animation-delay: 0.35s;
}
#show_hide_5 a:nth-child(5).hide, #show_hide_4 a:nth-child(5).hide, #show_hide_3 a:nth-child(5).hide, #show_hide_2 a:nth-child(5).hide, #show_hide_1 a:nth-child(5).hide, #show_hide_5 p:nth-child(5), #show_hide_4 p:nth-child(5), #show_hide_3 p:nth-child(5), #show_hide_2 p:nth-child(5), #show_hide_1 p:nth-child(5) {
  animation-delay: 0.475s;
}
#show_hide_5 a:nth-child(6).hide, #show_hide_4 a:nth-child(6).hide, #show_hide_3 a:nth-child(6).hide, #show_hide_2 a:nth-child(6).hide, #show_hide_1 a:nth-child(6).hide, #show_hide_5 p:nth-child(6), #show_hide_4 p:nth-child(6), #show_hide_3 p:nth-child(6), #show_hide_2 p:nth-child(6), #show_hide_1 p:nth-child(6) {
  animation-delay: 0.6s;
}
#show_hide_5 a:nth-child(7).hide, #show_hide_4 a:nth-child(7).hide, #show_hide_3 a:nth-child(7).hide, #show_hide_2 a:nth-child(7).hide, #show_hide_1 a:nth-child(7).hide, #show_hide_5 p:nth-child(7), #show_hide_4 p:nth-child(7), #show_hide_3 p:nth-child(7), #show_hide_2 p:nth-child(7), #show_hide_1 p:nth-child(7) {
  animation-delay: 0.725s;
}
#show_hide_5 a:nth-child(8).hide, #show_hide_4 a:nth-child(8).hide, #show_hide_3 a:nth-child(8).hide, #show_hide_2 a:nth-child(8).hide, #show_hide_1 a:nth-child(8).hide, #show_hide_5 p:nth-child(8), #show_hide_4 p:nth-child(8), #show_hide_3 p:nth-child(8), #show_hide_2 p:nth-child(8), #show_hide_1 p:nth-child(8) {
  animation-delay: 0.85s;
}
#show_hide_5 a:nth-child(9).hide, #show_hide_4 a:nth-child(9).hide, #show_hide_3 a:nth-child(9).hide, #show_hide_2 a:nth-child(9).hide, #show_hide_1 a:nth-child(9).hide, #show_hide_5 p:nth-child(9), #show_hide_4 p:nth-child(9), #show_hide_3 p:nth-child(9), #show_hide_2 p:nth-child(9), #show_hide_1 p:nth-child(9) {
  animation-delay: 0.975s;
}
#show_hide_5 a:nth-child(10).hide, #show_hide_4 a:nth-child(10).hide, #show_hide_3 a:nth-child(10).hide, #show_hide_2 a:nth-child(10).hide, #show_hide_1 a:nth-child(10).hide, #show_hide_5 p:nth-child(10), #show_hide_4 p:nth-child(10), #show_hide_3 p:nth-child(10), #show_hide_2 p:nth-child(10), #show_hide_1 p:nth-child(10) {
  animation-delay: 1.1s;
}
body {
  scroll-behavior: smooth;
  font-family: Roboto;
  margin: 0;
  background: #d7e3f4;
  color: #2a2a2a;
}

body > svg {
  display: none;
}

body > section {
  background-color: #ededed;
}
body > section h2 {
  margin: 0;
  font-size: 1.6em;
  background-color: #c2c2c2;
  width: 100%;
  text-align: center;
  padding-top: 5.6px;
  padding-bottom: 5.6px;
}
@media (min-width: 400px) {
  body > section h2 {
    width: 160px;
  }
  body > section#why_choose_us h2, body > section#we_can_help_if h2 {
    width: 240px;
  }
}

body > section:nth-of-type(1) > nav {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ededed;
}
@media (min-width: 1225px) {
  body > section:nth-of-type(1) > nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
  }
}
body > section:nth-of-type(1) > nav a {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4.8px;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
  color: #2a2a2a;
  background-color: #fff;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 2.4px;
}
body > section:nth-of-type(1) > nav a:hover, body > section:nth-of-type(1) > nav a:active {
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.75);
}
body > section:nth-of-type(1) > nav p {
  padding: 2.4px;
  padding-top: 6.4px;
  font-weight: bold;
  font-size: 3.8vw;
  margin: 0;
  color: #c70000;
}
@media (min-width: 512px) {
  body > section:nth-of-type(1) > nav p {
    font-size: 20px;
  }
}
@media (min-width: 1225px) {
  body > section:nth-of-type(1) > nav p {
    padding: 8px;
    text-align: right;
    flex-grow: 1;
  }
}

header {
  background-color: #ededed;
}
header img {
  width: 90%;
  height: auto;
  margin: 50px 5%;
}
@media (min-width: 470px) {
  header div:first-of-type {
    display: flex;
  }
  header img {
    height: 150px;
    width: auto;
    padding: 100px 0;
    margin: auto;
  }
}
@supports (color: black) {
  @media (min-width: 1100px) {
    header {
      display: flex;
    }
    header div:last-of-type {
      width: 100%;
      height: 355.2px;
      display: block;
      background-image: url("private/images/backgrounds/downs.min.jpg");
      background-position: left;
      background-size: cover;
    }
    header div:last-of-type::after {
      width: 100%;
      height: 355.2px;
      display: block;
      background-image: url("private/images/backgrounds/light.min.jpg");
      background-position: right;
      background-size: cover;
      content: "";
      opacity: 0;
      animation-duration: 8s;
      animation-name: fade-in-and-out;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    header div:first-of-type {
      border: 16px solid rgba(255, 255, 255, 0);
    }
    header img {
      height: 120px;
    }
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#what_we_do {
  background-color: #C3D7F0;
}
#what_we_do > div {
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 56px;
}
#what_we_do > div article {
  background-color: rgba(172, 172, 172, 0.4);
  background-position: 0% 0%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 320px;
  margin: 8px;
}
@supports (color: black) {
  #what_we_do > div article {
    background-color: rgba(172, 172, 172, 0);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><g fill='%23aaa' fill-rule='evenodd'><path d='M5 0h1L0 6V5zM6 5v1H5z'/></g></svg>");
  }
}
#what_we_do > div article:hover, #what_we_do > div article:active {
  box-shadow: 0 0 4.8px 0 rgba(0, 0, 0, 0.75);
}
#what_we_do > div article:hover:nth-child(even), #what_we_do > div article:active:nth-child(even) {
  background-position: 4% 4%;
}
#what_we_do > div article:hover:nth-child(odd), #what_we_do > div article:active:nth-child(odd) {
  background-position: -4% -4%;
}
#what_we_do > div article svg {
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}
#what_we_do > div article h3 {
  font-size: 0.936em;
  background-color: #b49d5e;
  margin: 0;
  padding: 16px;
  text-align: center;
  z-index: 1;
  color: #222;
}
#what_we_do > div article div {
  text-align: center;
  background-color: #ededed;
}
#what_we_do > div article div p {
  text-align: justify;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 0.96em;
}
@supports not (-ms-ime-align: auto) {
  #what_we_do > div article {
    animation-duration: 0.5s;
    animation-name: cards-jump-in;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
  #what_we_do > div article:nth-child(1) {
    animation-delay: 0.1s;
  }
  #what_we_do > div article:nth-child(2) {
    animation-delay: 0.3857142857s;
  }
  #what_we_do > div article:nth-child(3) {
    animation-delay: 0.6714285714s;
  }
  #what_we_do > div article:nth-child(4) {
    animation-delay: 0.9571428571s;
  }
  @keyframes cards-jump-in {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.99);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

#about_us section {
  margin-bottom: 0;
  padding-bottom: 10px;
}
@supports (display: grid) {
  @media (min-width: 1040px) {
    #about_us {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 320px;
    }
    #about_us::after {
      content: "";
      grid-column: 2;
      background-image: url("private/images/backgrounds/marina.min.jpg");
      background-image: linear-gradient(to left, rgba(237, 237, 237, 0) 0%, rgba(237, 237, 237, 0) 90%, #ededed 100%), url("private/images/backgrounds/marina.min.jpg");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

#we_can_help_if {
  background-color: #fff;
}
#we_can_help_if > section {
  height: 400px;
  overflow-y: auto;
}
#we_can_help_if > section > section {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
#we_can_help_if > section > section img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
#we_can_help_if > section > section:hover img {
  transform: scale(1.1);
}
#we_can_help_if > section > section p {
  width: 100%;
  padding: 20px;
  margin: 0;
  margin-right: 10px;
}
#we_can_help_if > section > section p strong {
  font-weight: bold;
}
#we_can_help_if > section > section:first-child {
  padding-top: 10px;
}
#we_can_help_if > section > div {
  display: none;
}
@supports (position: sticky) {
  #we_can_help_if > section > div {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    pointer-events: none;
  }
  #we_can_help_if > section > div div {
    background-color: #bbb;
    border-top: 4px solid #555;
    border-radius: 4px 4px 0 0;
    pointer-events: auto;
  }
  #we_can_help_if > section > div div p {
    margin: 0;
    padding: 10px;
    padding-top: 8px;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
  }
}
#we_can_help_if > section.not-scrolled > div {
  bottom: -35px;
}
#we_can_help_if > section.not-scrolled > div div {
  opacity: 0;
}
@supports (position: sticky) {
  #we_can_help_if > section > p:last-of-type {
    margin-bottom: -35px;
  }
}

@supports (display: grid) {
  #extra_photos {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0fr 1fr 0fr;
    transition-property: grid-template-columns;
    transition-duration: 1s;
  }
  @media (min-width: 696px) {
    #extra_photos {
      margin: 16px 72px;
      max-width: 1360px;
    }
  }
  @media (min-width: 1490px) {
    #extra_photos {
      margin: 16px auto;
    }
  }
  @media (min-width: 800px) {
    #extra_photos {
      grid-template-columns: 1fr 1fr 0fr;
    }
  }
  @media (min-width: 1200px) {
    #extra_photos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  #extra_photos div {
    background-size: cover;
    background-position: center;
    display: block;
    height: 190px;
  }
  @media (min-width: 500px) {
    #extra_photos div {
      height: 250px;
    }
  }
  #extra_photos div:nth-child(1) {
    background-image: url("private/images/backgrounds/butter.min.jpg");
    background-position: top;
  }
  #extra_photos div:nth-child(2) {
    background-image: url("private/images/backgrounds/hand_and_book.min.JPG");
  }
  #extra_photos div:nth-child(3) {
    background-image: url("private/images/backgrounds/blue.min.jpg");
  }
}
#why_choose_us {
  padding-bottom: 4px;
}
#why_choose_us > div {
  margin-top: 32px;
  margin-bottom: 80px;
}
#why_choose_us > div article {
  width: 320px;
  padding: 40px;
  margin: 4px;
  border-bottom: solid 3px #cccccc;
}
#why_choose_us > div article svg {
  width: 40px;
  height: 40px;
}
#why_choose_us > div article p {
  font-size: 14.4px;
}

#part_of {
  padding-top: 5.6px;
  padding-bottom: 5.6px;
}
#part_of figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  #part_of figure {
    flex-direction: row;
  }
}
#part_of figure img {
  display: block;
  max-width: 600px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
@supports (color: black) {
  #part_of figure img {
    max-height: 80px;
  }
  #part_of figure img.smaller {
    max-height: 80px;
  }
}
#part_of > p {
  width: 90%;
  margin: 5%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: center;
}
#part_of div {
  text-align: justify;
  padding: 9.6px 30px;
}
@media (min-width: 820px) {
  #part_of div {
    padding: 9.6px 64px;
  }
}

#contact {
  background-color: rgba(255, 255, 255, 0);
}
#contact > div {
  width: 100%;
}
#contact > div section {
  background-color: #ededed;
  font-size: 1.2em;
  margin-bottom: 8px;
  padding: 10px 15px;
}
#contact > div section.addr p:nth-child(1) {
  margin-bottom: 3px;
}
#contact > div section.addr p:nth-child(2) {
  font-size: 0.7em;
  margin-top: 3px;
}
#contact > div section.addr p:nth-child(2):after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  margin-top: 4px;
}
#contact > div section.hours span {
  display: block;
  font-size: 0.7em;
}
@supports (display: grid) {
  @media (min-width: 1000px) {
    #contact > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 80px);
      grid-gap: 10px;
    }
    #contact > div section {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 25px;
    }
    #contact > div section.hours {
      grid-row: 1;
      grid-column: 1;
    }
    #contact > div section.tel {
      grid-row: 2;
      grid-column: 1;
    }
    #contact > div section.email {
      grid-row: 3;
      grid-column: 1;
    }
    #contact > div section.addr {
      grid-row: 1/4;
      grid-column: 2;
    }
    #contact > div section.addr p {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  @media (min-width: 1290px) {
    #contact > div {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0;
    }
    #contact > div::after {
      content: "";
      grid-row: 1/4;
      grid-column: 1;
      background-image: url("private/images/backgrounds/goldcrest.min.jpg");
      background-position: center;
      background-size: cover;
      clip-path: inset(20px 28px 20px 28px);
    }
    #contact > div section.hours {
      grid-row: 1;
      grid-column: 2;
    }
    #contact > div section.tel {
      grid-row: 2;
      grid-column: 2;
    }
    #contact > div section.email {
      grid-row: 3;
      grid-column: 2;
    }
    #contact > div section.addr {
      grid-row: 1/4;
      grid-column: 3;
    }
  }
}

#privacy-policy {
  background-color: white;
}
#privacy-policy h2:first-child {
  width: 210px;
}
#privacy-policy h3 {
  padding-left: 17px;
  font-size: 1.5em;
}
#privacy-policy h4 {
  font-size: 1.5em;
  text-align: center;
  margin: 15px;
}

footer {
  background-color: #000;
  color: #97aaba;
  padding: 8px;
  position: relative;
}
footer p {
  margin: 4.8px;
  text-align: center;
}
footer p a {
  transition-timing-function: cubic-bezier(1, 1.85, 0.34, -0.03);
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
footer p a:hover, footer p a:active {
  transform: scale(1, 2);
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer nav a svg {
  width: 35px;
  height: 35px;
  margin: 3px 7px;
  fill: #fff;
  transform: rotate(-15deg);
}
footer nav a p {
  display: none;
}
footer nav a svg, footer nav a p {
  transition: 0.5s;
}
footer nav a:hover svg, footer nav a:active svg {
  transform: scale(1.25);
}
@media (min-width: 850px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 4.8px;
  }
  footer > p {
    flex-grow: 1;
  }
  footer > p:first-of-type {
    text-align: left;
  }
  footer > p:last-of-type {
    text-align: right;
  }
  footer nav {
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 0;
  }
  footer nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
  }
  footer nav a svg {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-left: 10px;
    fill: #131318;
  }
  footer nav a p {
    position: relative;
    left: -3px;
    display: block;
    margin: 0;
    text-decoration: none;
    color: #97aaba;
    overflow: hidden;
    max-width: 0;
    background-color: #131318;
  }
  footer nav a:hover p, footer nav a:active p {
    padding: 6px 0;
    background-color: #000;
    max-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 7px 7px 0;
  }
  footer nav a:hover svg, footer nav a:active svg {
    fill: #000;
  }
}

aside {
  background-color: #420808;
  padding: 8px 4px;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 3;
  text-align: center;
}
aside p {
  margin: 0;
}
aside nav {
  margin: 7px;
}
aside nav a {
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px white;
  border-radius: 5px;
  margin: 2px 5px;
  padding: 2px 4px;
  display: inline-block;
}
aside nav a:hover {
  border-width: 3px;
  box-shadow: 0px 0px 0px 2px white;
}
aside nav a:last-child {
  padding: 0 4px;
  margin-left: 10px;
  border-radius: 30px;
}
aside p, aside nav a {
  color: #fff;
}
aside.hide {
  opacity: 0;
  transform: scale(0.97);
  transform-origin: bottom center;
  pointer-events: none;
}
@media (min-width: 750px) {
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  aside nav {
    margin: 0;
  }
  aside nav a {
    margin-top: 0;
    margin-bottom: 0;
  }
}

section.colour-block.top {
  background-color: #afcbeb;
  padding-bottom: 5px;
}
section.colour-block.foot {
  background-color: #97aaba;
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
